{% extends 'base.html' %}

{% load static %}

{% block scripts %}
    <script src="{% static 'core.js' %}"></script>
{% endblock scripts %}

{% block title %}Home | TerpAlert{% endblock %}

{% block content %}

    <div class="container-md my-3">
        <!-- Header text -->
        <div class="row text-center">
            <h1>Welcome to TerpAlert</h1>
            <p><i>Get the scoop on your favorite foods being served at University of Maryland dining halls!</i></p>
        </div>

        <!-- Search bar -->
        <div class="row text-center my-3">
            <h3>Search for what's being served today!</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" name="food-input" id="food-input"
                       placeholder="Orange Tempura Chicken">
            </div>
            <!-- Search results -->
            <h4 id="food-input-results"></h4>
        </div>

        <!-- Link to Signup Page -->
        <div class="row text-center my-3 justify-content-center">
            <h3>Want to save alerts and receive daily notifications?</h3>
            <div class="col-3">
                <a class="btn btn-warning" href="{% url 'signup' %}">Sign up</a>
            </div>
        </div>

        <!-- Logo -->
        <div class="row text-center justify-content-center">
            <img class="image" src="{% static 'logo.png' %}">
        </div>
    </div>

{% endblock %}