{% extends 'base.html' %}

{% block title %}Login | TerpAlert{% endblock %}

{% block content %}
    <div class="container-md my-3">
        <!-- Header text -->
        <div class="row text-center">
            <h1>Login</h1>
        </div>

        <!-- Login form -->
        <div class="row mb-3 justify-content-center">
            <div class="col-md-6 col-sm-12">
                <form action="" method="post">
                    {% csrf_token %}

                    <!-- Email -->
                    <div class="form-group mb-3">
                        <label for="{{ form.username.id_for_label }}"
                               class="col-sm-4 mx-auto col-form-label">Email</label>
                        <input type="email" class="form-control" id="{{ form.username.id_for_label }}"
                               name="{{ form.username.html_name }}" required>
                    </div>

                    <!-- Password -->
                    <div class="form-group mb-3">
                        <label for="{{ form.password.id_for_label }}"
                               class="col-sm-4 mx-auto col-form-label">Password</label>
                        <input type="password" class="form-control" id="{{ form.password.id_for_label }}"
                               name="{{ form.password.html_name }}" required>
                    </div>

                    <!-- Show error message if invalid username/password -->
                    {% if form.errors %}
                        <p class="auth-form-error">Your username and password didn't match, please try again.</p>
                    {% endif %}

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-warning">Log in</button>
                </form>
            </div>
        </div>

        <!-- Link to reset password page -->
        <div class="row justify-content-center my-3">
            <div class="col-md-6 col-sm-12">
                <a href="{% url 'password_reset' %}">Forgot password</a>
            </div>
        </div>

        <!-- Link to sign up page -->
        <div class="row justify-content-center my-3">
            <div class="col-md-6 col-sm-12">
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
            </div>
        </div>
    </div>
{% endblock %}