{% extends 'base.html' %}

{% block title %}Reset Password | TerpAlert{% endblock %}

{% block content %}
    <div class="container-md my-3">
        <!-- Header text -->
        <div class="row text-center">
            <h1>Password reset sent</h1>
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                <br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
            </p>
        </div>

        <!-- Link to home -->
        <div class="row text-center my-3 justify-content-center">
            <div class="col-3">
                <a class="btn btn-warning" href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>

{% endblock %}