{% extends 'base.html' %}

{% block title %}Reset Password | TerpAlert{% endblock %}

{% block content %}
    <div class="container-md my-3">
        <!-- Header text -->
        <div class="row text-center">
            <h1>Password reset complete</h1>
            <p>Your new password has been saved</p>
        </div>

        <!-- Link to login -->
        <div class="row text-center mb-3 justify-content-center">
            <div class="col-3">
                <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>

{% endblock %}