/* UMD COLORS
RED: #e21833
GOLD #ffd200
WHITE: #ffffff
BLACK: #000000
*/

:root {
    --umd-red: #e21833;
    --umd-red-hover: #b5162e;
    --umd-gold: #ffd200;
    --umd-gold-hover: #ad7231;
}

* {
    font-family: Inter, sans-serif;
}

.navbar-nav li a, .navbar-brand span {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active,
.navbar-brand span:hover, .navbar-brand span:focus, .navbar-brand span:active {
    color: #cccccc !important;
}

.btn-warning {
    background-color: var(--umd-gold) !important;
    border-color: var(--umd-gold) !important;
}

.btn-warning:hover {
    background-color: var(--umd-gold-hover) !important;
    border-color: var(--umd-gold-hover) !important;
}

.btn-danger {
    background-color: var(--umd-red) !important;
    border-color: var(--umd-red) !important;
}

.btn-danger:hover {
    background-color: var(--umd-red-hover) !important;
    border-color: var(--umd-red-hover) !important;
}

.auth-form-error {
    color: var(--umd-red);
}

@media screen and (max-width: 768px) {
    .btn-wide {
        display: none;
    }

    .btn-narrow {
        display: inline;
    }
}

@media screen and (min-width: 768px) {
    .btn-narrow {
        display: none;
    }

    .btn-wide {
        display: inline;
    }
}

.col-right {
    text-align: right;
}

button[class*='btn-outline-'] {
    border-color: transparent !important;
}


