{% extends 'base.html' %}

{% load static %}

{% block scripts %}
    <script src="{% static 'accounts.js' %}"></script>
{% endblock scripts %}

{% block title %}Unsubscribe | TerpAlert{% endblock %}

{% block content %}
    <div class="container-md my-3">
        <!-- Header text -->
        <div class="row text-center">
            <h1>Unsubscribe</h1>
            <p>You have unsubcribed from alert emails</p>
        </div>

        <!-- Links -->
        <div class="row text-center my-3 justify-content-center">
            <div class="col-6">
                <a class="btn btn-warning" href="{% url 'home' %}">Home</a>
                <a class="btn btn-warning" href="{% url 'account' %}">Account</a>
            </div>
        </div>
    </div>
{% endblock %}